/* Write your CSS code here */
.title-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-item {
  line-height: 2;
}
h1 {
  font-size: 24px;
  padding: 0px;
  margin: 0px;
  font-weight: 600;
  font-family: 'Roboto';
}

p {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  color: grey;
  font-family: 'Roboto';
}
