/* Write your CSS code here */
.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0px;
  line-height: 2;
}
.profile-img {
  width: 40%;
}
